{{- $root := .RootPath }}
{{- $lang := .Lang }}
{{- $mode := .Mode }}
{{- $name := .Name }}

<script>

    const storedTheme = localStorage.getItem('theme')

    function setTheme(theme) {
        const actualTheme =
            theme === "auto"
            ? (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light")
            : theme;

        document.documentElement.setAttribute("data-bs-theme", actualTheme);
        localStorage.setItem("theme", theme);

        // Update button text
        const btn = document.querySelector(
            `[data-bs-theme-value="${theme}"]`
        );
        if (btn) {
            document.getElementById("bd-theme-text").textContent =
            btn.dataset.bsThemeText;
        }
        document.querySelectorAll("[data-bs-theme-value]").forEach(el => {
            el.classList.toggle(
                "active",
                el.dataset.bsThemeValue === theme
            );
        });

    }

    function initTheme() {
        setTheme(localStorage.getItem("theme") || "auto");
    }
    // Follow OS changes while in "auto" mode
    window.matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", () => {
        if ((localStorage.getItem("theme") || "auto") === "auto") {
        setTheme("auto");
        }
    });

    initTheme();


</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jürgen Enge <juergen@info-age.net>">
    <title>{{if eq $name "scb.mab"}}SCB Katalog{{ else }}InK 3{{ end }}{{/* }}{{ localize "title" $lang }}{{ */}}</title>


    <link href="{{ $root }}static/bootstrap/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="{{ $root }}static/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" crossorigin="anonymous">

    <link href="{{ $root }}static/css/reset_mukesh.css" rel="stylesheet">
    <link href="{{ $root }}static/css/ink.css?v=2" rel="stylesheet">

