<!doctype html>
{{- $lang := .Lang}}
{{- $root := .RootPath }}
{{- $searchBase := printf "%s/search/%s?" .SearchAddr .Lang }}
<html lang="{{ $lang }}">
<head>
    {{ template "head.gohtml" . }}
</head>

<body class="w-100 bg">
    {{ template "nav.gohtml" . }}

<div class="container-fluid p-0 d-flex h-100">
    <div class="px-4 py-1">
        <div class="col-lg-8 mx-auto">
        {{- if eq $lang "en" }}
            <h1 class="pt-3">Imprint</h1>

            <h3 class="pt-3" style="font-variant: small-caps;">InK Integrierter Katalog der Mediathek der HGK Basel FHNW</h3>
            <p>Der Integrierte Katalog (InK) ist das Katalogsystem für die digitalen Sammlungen der Hochschule für Gestaltung und Kunst FHNW Basel. Neben hochschulinterne Quellen aus der Lehre und Forschung verwaltet der InK umfangreiche Spezialsammlungen mit externen Quellen zur Gegenwartskunst und -kultur. <br>
[
<a href="https://minio.campusderkuenste.ch/med-public/InK_Leistungsauftrag.pdf" target="_blank" rel="noopener noreferrer" style="color: inherit; text-decoration: none;">Leistungsaugtrag</a>, 
<a href="https://minio.campusderkuenste.ch/med-public/15_OA-Policy_de_20231128_signed_CP.pdf" target="_blank" rel="noopener noreferrer" style="color: inherit; text-decoration: none;">Policy</a>]<br>
Als Repositorium einer Kunsthochschul sind die visuelle Aufbereitung der Sammlungsinhalte und die Kontextualisierung der oft komplexen digitalen Daten besonders wichtig. Daher kommt den Darstellungs- und Rechercheoberflächen eine besondere Rolle im InK zu. Zum Verlangen nach Sichtbarkeit und Zugänglichkeit der jeweiligen Medien kommt der Wunsch nach Dauerhaftigkeit und Persistenz hinzu, weshalb die <a href="https://www.go-fair.org/fair-principles/" target="_blank" rel="noopener noreferrer" style="color: inherit; text-decoration: none;">FAIR-Principles</a>  als Richtlinie der Services und Technologien gelten.<br>
Als forschungsnahes Angebot der Mediathek ist der InK in beiden Verzeichnissen <a href="https://www.re3data.org/repository/r3d100014291" target="_blank" rel="noopener noreferrer" style="color: inherit; text-decoration: none;">re3data</a> und <a href="https://v2.sherpa.ac.uk/id/repository/10880" target="_blank" rel="noopener noreferrer" style="color: inherit; text-decoration: none;">openDOAR</a> 
openDOAR anerkannt und gelistet.</p>
            <h3 class="pt-3">Concept & Realization</h3>
            Mediathek HGK Basel FHNW
            | info-age GmbH

            <h3 class="pt-3">Design, Visual Material, Collection Icons</h3>
            Thomas Biercher

            <h3 class="pt-3">Implementation and System</h3>
            Jürgen Enge, info-age GmbH

            <h3 class="pt-3">Publisher</h3>
            Hochschule für Gestaltung und Kunst Basel FHNW<br />
            Mediathek<br />
            Freilager-Platz 1<br />
            4142 Münchenstein<br />

        <h3 class="pt-3">Gewährleistungs- und Haftungsausschluss</h3>
        Inhalte wurden sorgfältig geprüft und werden laufend aktualisiert. Wir sind bemüht, richtige und vollständige Information bereitzustellen, übernehmen aber keinerlei Verantwortung, Garantien oder Haftung dafür, dass die durch diese Website bereitgestellten Informationen, richtig, vollständig oder aktuell sind.
        <br />
        Wir behalten uns das Recht vor, jederzeit und ohne Vorankündigung die Informationen auf dieser Website zu ändern und verpflichten uns nicht, die enthaltenen Informationen zu aktualisieren. Alle Links zu externen Systemen, Sammlungen und Anbietern wurden zum Zeitpunkt ihrer Aufnahme auf ihre Richtigkeit überprüft. Dennoch können wir für Inhalte und Verfügbarkeit von Websites, die mittels Hyperlinks zu erreichen sind, nicht haften. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die durch Inhalte verknüpfter Seiten entstehen, haften allein die Anbieter der jeweiligen Seiten, auf welche verwiesen wurde. Dabei ist es gleichgültig, ob der Schaden direkter, indirekter oder finanzieller Natur ist oder ein sonstiger Schaden vorliegt, der sich aus Datenverlust, Nutzungsausfall oder anderen Gründen aller Art ergeben könnte.

        <h6 class="pt-4">(c) 2026 Integrierter Katalog HGK Basel FHNW</h6>
        {{ end }}
        </div>
    </div>
</div>
    {{ template "footer.gohtml" . }}
<script src="{{ .RootPath }}static/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>
