<!doctype html>
  
{{- $lang := .Lang}}
{{- $root := .RootPath }}
{{- $useKI := .KI }}

{{- $searchBase := printf "%s/grid/%s" .SearchAddr .Lang }}
<html lang="{{ $lang }}">
<head>
    {{ template "head.gohtml" . }}
    <style>
        .btn-csp {
            --bs-btn-bg: #212529;
        }
    </style>
</head>
<body class="w-100 d-flex flex-column">
    {{ template "nav.gohtml" . }}

    <main class="flex-grow-1">
        
        <!-- logo line -->

        <div class="sticky">
            <details class="ds logo">
                <summary class="summary textbig"><span class="icon"></span><h1>InK</h1></summary>
                <div class="detail text textbig">
                    Der Integrierte Katalog vereint Quellen der Forschung und Lehre der Hochschule für Gestaltung und Kunst FHNW sowie von digitalen Sondersammlungen.
                </div>
            </details>
        </div>

        <!-- search line -->

        <div class="searchbar container-fluid">
            <div class="d-md-flex gap-2" role="search">
                <div class="left d-md-flex gap-3">
                <div class="dropdown d-none d-md-block" >
                    <button class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Alle
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end shadow">
                        <li><a class="dropdown-item active" href="de{{ if ne .Params "" }}?{{ .Params }}{{ end }}">Alle</a></li>
                        <li><a class="dropdown-item" href="de{{ if ne .Params "" }}?{{ .Params }}{{ end }}">Verfassende</a></li>
                        <li><a class="dropdown-item" href="en{{ if ne .Params "" }}?{{ .Params }}{{ end }}">Titel</a></li>
                        <li><a class="dropdown-item" href="en{{ if ne .Params "" }}?{{ .Params }}{{ end }}">Volltext</a></li>
                        <li><a class="dropdown-item" href="en{{ if ne .Params "" }}?{{ .Params }}{{ end }}">Sammlung</a></li>
                        <li><a class="dropdown-item" href="en{{ if ne .Params "" }}?{{ .Params }}{{ end }}">Signatur</a></li>
                    </ul>
                </div>
                


                <div class="searchfield flex-grow-1">
                    <input
                        onkeyup="if (event.keyCode === 13) search('{{ $searchBase }}') "
                        id="search"
                        class="form-control form-control-lg"
                        type="search"
                        placeholder="{{ localize "search" $lang }}…"
                        aria-label="{{ localize "search" $lang }}"
                        value=""
                    />
                    <a class="iconx" data-icon="close" onClick="searchClear()"></a>
                </div>
                </div>
                <!-- ki search -->
                <label class="toggle"><input type="checkbox" name="ki" checkedx /><span class="checkmark"></span><span>mit KI suchen</span></label>
                <!--<button onclick="search('{{ $searchBase }}', '', false, true)" class="btn noborder" type="submit"><i class="bi bi-stars"></i></button>-->
                        
                
            </div>
        </div>

        <!-- filters tags -->

        <details class="ds" open>
            <summary class="summary textbig"><span class="icon"></span>Sammlungen</summary>
            <div class="detail tags cols collection">
                {{- range $key, $coll := .Collections }}
                        
                    <button 
                        style="" 
                        onclick="this.setAttribute('selected', 'true');search('{{ $searchBase }}', '', false, false)" 
                        type="button" 
                        class="btn  collectionButton" 
                        value="{{ $coll.Id }}" 
                        selected="false"
                        >
                        <div class="name">
                            <span>{{ $coll.Title }}</span>
                            <i class="num"><b>{{ $coll.Count}}</b></i>
                        </div>
                        <i class="info" data-href="vitrine.php?t='.$temp[0].'" onClick="openVitrine();return false">i</i>
                    </button>
                        
                {{ end }}
            </div>
        </details>

        <!-- ohter filters -->
 <details class="ds">
            <summary class="summary textbig"><span class="icon"></span>Ressourcentyp</summary>
            <div class="detail tags cols collection">
            </div>
        </details>
 <details class="ds">
            <summary class="summary textbig"><span class="icon"></span>Thema</summary>
            <div class="detail tags cols collection">
            </div>
        </details>
       
       <!-- <details class="ds">
            <summary class="summary textbig"><span class="icon"></span>Zugang</summary>
            <div class="detail tags cols collection">
            </div>
        </details> -->
        <details class="ds">
            <summary class="summary textbig"><span class="icon"></span>Bibliothek</summary>
            <div class="detail tags cols collection">
            </div>
        </details>
        <details class="ds">
            <summary class="summary textbig"><span class="icon"></span>Verfassende/Beitragende</summary>
            <div class="detail tags cols collection">
            </div>
        </details>
       <!--  <details class="ds">
            <summary class="summary textbig"><span class="icon"></span>Sprache</summary>
            <div class="detail tags cols collection">
            </div>
        </details> -->
                 
    </main>

    {{ template "footer.gohtml" . }}

    <script src="static/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="static/js/search.js"></script>
    <script src="static/js/script.js"></script>

</body>
</html>

