<!doctype html>
  
{{- $lang := .Lang}}
{{- $root := .RootPath }}
{{- $useKI := .KI }}
{{- $filters := true }}
{{- $name := .Name }}

{{- $searchBase := printf "%s/grid/%s" .SearchAddr .Lang }}
<html lang="{{ $lang }}">
<head>
    {{ template "head.gohtml" . }}
    <style>
        .btn-csp {
            --bs-btn-bg: #212529;
        }
    </style>
</head>
<body class="w-100 d-flex flex-column">
    {{ template "nav.gohtml" . }}

    <main class="flex-grow-1">
        
        <!-- logo line -->

        <div class="sticky">
            {{- if eq $name "scb.mab" }}
            <details class="ds logo">
                <summary class="summary textbig"><span class="icon"></span><h1>SCB Katalog</h1></summary>
                <div class="detail text textbig">
                    Der SCB Katalog versammelt Forschungsergebnisse und -Publikationen der Schola Cantorum Baciliensis (SCB).
                    Er fungiert als Datenbasis hinter dem Forschungsportal der Schola.
                </div>
            </details>    
            {{- else }}
            <details class="ds logo" open>
                <summary class="summary textbig"><span class="icon"></span><h1>InK</h1></summary>
                <div class="detail text textbig">
                    Der Integrierte Katalog vereint Quellen der Forschung und Lehre der Hochschule für Gestaltung und Kunst FHNW sowie von digitalen Sondersammlungen.
                </div>
            </details>    
            {{- end }}
           
        </div>

        <!-- search line -->

        <div class="searchbar container-fluid  mt-3 mt-md-0 pb-2 px-5x py-lg-3">
            <div class="d-md-flex gap-2" role="search">
                <div class="left d-flex flex-column gap-2 flex-md-row gap-md-3">
                    <div class="dropdown">
                        <button id="searchTypeButton" class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" value="all">
                            Alle
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end shadow" id="searchTypeMenu">
                            <li><a class="dropdown-item active" href="#" data-value="all">All Fields</a></li>
                            <li><a class="dropdown-item" href="#" data-value="author">Persons</a></li>
                            <li><a class="dropdown-item" href="#" data-value="title">Title</a></li>
                            <li><a class="dropdown-item" href="#" data-value="fulltext">Full Text</a></li>
                            <li><a class="dropdown-item" href="#" data-value="estate">Estates</a></li>
                            <li><a class="dropdown-item" href="#" data-value="signature">Signature</a></li>
                        </ul>
                    </div>


                <div class="searchfield flex-grow-1">
                    <input
                        onkeyup="if (event.keyCode === 13) doSearch('{{ $searchBase }}') "
                        id="search"
                        class="form-control form-control-lg"
                        type="search"
                        placeholder="{{ localize "searchtext" $lang }}…"
                        aria-label="{{ localize "search" $lang }}"
                        value=""
                    />
                    <a class="iconx" data-icon="close" onClick="document.getElementById('search').value=''/*;doSearch('{{ $searchBase }}')*/"></a>
                </div>
                <button class="btn btn-lg" onClick=" doSearch('{{ $searchBase }}') ">Suchen</button>   
                </div>
                <!-- access -->
                <label class="toggle access" title="Es werden auch Einträge mit geshlossenen Medien angezeigt"><input type="checkbox" name="access" checkedx /><span class="checkmark"></span><span >Zugang</span></label><!--<a class="infobutton ms-0">i</a>-->
                <!-- ki search -->
                {{/*
                <label class="toggle"><input type="checkbox" name="ki" checkedx /><span class="checkmark"></span><span>mit KI suchen</span></label>-->
                <!--<button onclick="doSearch('{{ $searchBase }}', '', false, true)" class="btn noborder" type="submit"><i class="bi bi-stars"></i></button>-->
                */}}             
                
            </div>
        </div>

        <!-- filters tags -->

        <details class="ds">
            <summary class="summary textbig"><span class="icon"></span>Collections</summary>
            <div class="detail tags cols collection">
                {{- range $key, $coll := .Collections }}
                    {{ if gt $coll.Count 0 }}
                    <button 
                        style="" 
                        onclick="document.querySelectorAll('.collectionButton').forEach(button => button.setAttribute('selected', 'false')); this.setAttribute('selected', 'true'); doSearch('{{ $searchBase }}', '', false, false)"
                        type="button" 
                        class="btn  collectionButton" 
                        value="{{ $coll.Id }}" 
                        selected="false"
                        >
                        <div class="name">
                            <span>{{ $coll.Title }}</span>
                            <i class="num"><b>{{ $coll.Count}}</b></i>
                        </div>
                        {{- if $coll.Url }}
                        <!--
                        <i class="info" data-href="vitrine.php?t='.$temp[0].'" onClick="openVitrine();return false">i</i>
                        -->
                        <a class="info" href="{{ $coll.Url }}" target="_blank" onclick="event.stopPropagation()">i</a>
                        {{- end }}
                    </button>
                    {{ end }}
                {{ end }}
            </div>
        </details>
        {{- if $filters }}
        <!-- ohter filters -->
        <details class="ds">
            <summary class="summary textbig"><span class="icon"></span>Resource Types</summary>
            <div class="detail tags colsx collectionx">
                {{- range $key, $media := .Medias }}

                    <button
                            style=""
                            onclick="this.setAttribute('selected', 'true');doSearch('{{ $searchBase }}', '', false, false)"
                            type="button"
                            class="btn mediaButton"
                            value="{{ $media.Id }}"
                            selected="false"
                    >
                        <div class="name">
                            <span>{{ $media.Title }}</span>
                            <i class="num"><b>{{ $media.Count}}</b></i>
                        </div>
                        {{- if $media.Url }}
                        <!--
                        <i class="info" data-href="vitrine.php?t='.$temp[0].'" onClick="openVitrine();return false">i</i>
                        -->
                            <a class="info" href="{{ $media.Url }}" target="_blank" onclick="event.stopPropagation()">i</a>
                        {{- end }}
                    </button>

                {{ end }}
            </div>
        </details>
    <!-- Topcis -->
        <details class="ds">
            <summary class="summary textbig"><span class="icon"></span>Topics</summary>
            <div class="detail tags colsx collectionx">
                {{- range $key, $catalog := .Catalogs }}
                    {{ if gt $catalog.Count 0 }}
                    <button
                            style=""
                            onclick="this.setAttribute('selected', 'true');doSearch('{{ $searchBase }}', '', false, false)"
                            type="button"
                            class="btn catalogButton"
                            value="{{ $catalog.Id }}"
                            selected="false"
                    >
                        <div class="name">
                            <span>{{ $catalog.Title }}</span>
                            <i class="num"><b>{{ $catalog.Count}}</b></i>
                        </div>
                        {{- if $catalog.Url }}
                        <!--
                        <i class="info" data-href="vitrine.php?t='.$temp[0].'" onClick="openVitrine();return false">i</i>
                        -->
                        <a class="info" href="{{ $catalog.Url }}" target="_blank" onclick="event.stopPropagation()">i</a>
                        {{- end }}
                    </button>

                {{ end }}
                {{ end }}
            </div>
        </details>
       
       <!-- <details class="ds">
            <summary class="summary textbig"><span class="icon"></span>Zugang</summary>
            <div class="detail tags cols collection">
            </div>
        </details> -->
        <details class="ds">
            <summary class="summary textbig"><span class="icon"></span>Mediathek</summary>
            <div class="detail tags colsx collectionx">
               <button type="button" class="btn catalogButton">
                    <a href="https://www.fhnw.ch/de/gestaltung-kunst/ueber-uns/campus/mediathek"><div class="name">
                        <span>FHNW</span>
                        <i class="num"><b>Mediathek der HGK Basel</b></i>
                    </div></a>
                </button>

                <button type="button" class="btn catalogButton">
                    <a href="../pages/ink3_mediathek/InK-System.md"><div class="name">
                        <span>i</span>
                        <i class="num"><b>System</b></i>
                    </div></a>
                </button>

                <button type="button" class="btn catalogButton">
                    <a href="../pages/ink3_mediathek/InK-Workflows.md"><div class="name">
                            <span>i</span>
                            <i class="num"><b>Workflows</b></i>
                        </div></a>
                </button>

                <button type="button" class="btn catalogButton">
                    <a href="../pages/ink3_mediathek/kollaboration_im_InK.md"><div class="name">
                            <span>i</span>
                            <i class="num"><b>Kollaboration</b></i>
                        </div></a>
                </button>

                <button type="button" class="btn catalogButton">
                    <a href="../pages/ink3_mediathek/nachhaltigkeit_INK.md"><div class="name">
                            <span>i</span>
                            <i class="num"><b>Nachhaltigkeit</b></i>
                        </div></a>
                </button>




            </div>
        </details>
        <!--
        <details class="ds">
            <summary class="summary textbig"><span class="icon"></span>Verfassende/Beitragende</summary>
            <div class="detail tags cols collection">
            </div>
        </details>
        -->
       <!--  <details class="ds">
            <summary class="summary textbig"><span class="icon"></span>Sprache</summary>
            <div class="detail tags cols collection">
            </div>
        </details> -->
        {{ end }}         
    </main>

    {{ template "footer.gohtml" . }}

    <script src="static/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="static/js/search.js"></script>
    <script src="static/js/script.js"></script>
</body>
</html>

