<!doctype html>
{{- $lang := .Lang}}
{{- $root := .RootPath }}
{{- $searchBase := printf "%s/search/%s?" .SearchAddr .Lang }}
<html lang="{{ $lang }}">
<head>
    {{ template "head.gohtml" . }}
</head>

<body class="w-100 bg">
    {{ template "nav.gohtml" . }}

<div class="container-fluid p-0 d-flex h-100">
    <div class="px-4 py-1">
        <div class="col-lg-8 mx-auto">
        {{- if eq $lang "en" }}

        <h1 class="pt-3">Kontakt</h1>

        <h3 class="pt-3" style="font-variant: small-caps;">Mediathek HGK Basel FHNW</h3>
		Team: Tabea Lurk, Michael Mathys

        <h6 class="pt-4">(c) 2026 Integrierter Katalog Mediathek HGK Basel FHNW</h6>
        {{ end }}
        </div>
    </div>
</div>
    {{ template "footer.gohtml" . }}
<script src="{{ .RootPath }}static/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>
