<!doctype html>
{{- $lang := .Lang}}
{{- $root := .RootPath }}
{{- $isExhibition := .Exhibition }}
{{- $searchAddr := .SearchAddr }}
{{- $back := .Back }}{{ if eq $back "" }}{{ $back = $root }}{{ end }}
<html lang="{{ $lang }}">
<head>
    {{ template "head.gohtml" . }}
    <style>
        [data-bs-theme=dark] img.qr {
            filter: invert(1);
        }

    </style>
</head>

<body class="w-100 bg">
    {{ template "nav.gohtml" . }}


<main>
    <div class="ds logo">
        <a class="summary textbig" href="{{ $back }}" onclick="event.preventDefault(); historyOrLink('{{ $back }}');"><span class="icon back"></span><h1>
                    {{ .Meta.title }}
            </h1></a>
    </div>
</main>

    <div class="container-fluid p-0 d-flex h-100">
        <div class="px-4 py-1 markdown">
            {{ .HTML | toHTML }}
        </div>
    </div>

<!-- ---------- script ---------- -->

 {{ template "footer.gohtml" . }}
<script src="{{ .RootPath }}static/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="{{ .RootPath }}static/js/script.js"></script>
<script>
</script>

</body>
</html>
