<!doctype html>
{{- $data := . }}
{{- $lang := .Lang}}
{{- $root := .RootPath }}
{{- $mediaserverBase := .MediaserverBase }}
{{- $searchBase := printf "%s/%s/%s" .SearchAddr .Page .Lang }}
{{- $params := .Params }}
{{- $search := printf "%s%s" $searchBase .Params }}
{{- $detailAddr := .DetailAddr }}
{{- $isExhibition := .Exhibition }}
{{- $useKI := .KI }}
{{- $page := .Page }}
{{- $roles := list "author" "performer" "artist" "director" "camera" }}
<html lang="{{ $lang }}">

{{template "head.gohtml" . }}

<body class="w-100 d-flex flex-column">

{{ template "nav.gohtml" . }}
<main>
<div class="sticky">
    <div class="ds logo">
        <a class="summary textbig" href="/"><span class="icon back"></span><h1>InK</h1></a>
    </div>
</div>

<div class="searchbar container-fluid">
    <div class="d-md-flex gap-2" role="search">
        <div class="left d-flex gap-3">
            <div class="dropdown d-none d-md-block">
                    <button class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Alle
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end shadow">
                        <li><a class="dropdown-item active" href="de{{ if ne .Params "" }}?{{ .Params }}{{ end }}">Alle</a></li>
                        <li><a class="dopdown-item" href="de{{ if ne .Params "" }}?{{ .Params }}{{ end }}">Verfasser</a></li>
                        <li><a class="dropdown-item" href="en{{ if ne .Params "" }}?{{ .Params }}{{ end }}">Titel</a></li>
                        <li><a class="dropdown-item" href="en{{ if ne .Params "" }}?{{ .Params }}{{ end }}">Volltext</a></li>
                        <li><a class="dropdown-item" href="en{{ if ne .Params "" }}?{{ .Params }}{{ end }}">Sammlung</a></li>
                        <li><a class="dropdown-item" href="en{{ if ne .Params "" }}?{{ .Params }}{{ end }}">Signatur</a></li>
                    </ul>
            </div>
            <div class="searchfield">
                <input
                        onkeyup="if (event.keyCode === 13) search('{{ $searchBase }}') "
                        id="search"
                        class="form-control form-control-lg"
                        type="search"
                        placeholder="{{ localize "search" $lang }}"
                        aria-label="{{ localize "search" $lang }}"
                        value="{{.RequestQuery.Search}}"
                />
                <a class="iconx" data-icon="close16" onClick="searchClear()"></a>

            </div>
        </div>
        <div class="right d-flex flex-grow-1">
            
            <!-- ki search -->
            {{/*
            <label class="toggle"><input type="checkbox" name="ki" checkedx /><span class="checkmark"></span><span>mit KI suchen</span></label>
            <!--<button onclick="search('{{ $searchBase }}', '', false, true)" class="btn noborder" type="submit"><i class="bi bi-stars"></i></button>-->
             */}}
                
            <!-- filter togggle-->
            <div class="d-flex flex-grow-1 justify-content-end">
                    
                <button id="filterBtn" class="btn btn-lg navbar-togglerx" type="button" data-bs-toggle="offcanvas" data-bs-target="#facetBar" aria-controls="facetBar" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="iconx" data-icon="filter"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
   
    <!-- selected filters -->

    <div class="selectedfilters">
                         <ul class="mynav nav nav-pills flex-column mb-auto">
                            <li class="nav-item mb-1 ">
                                <div class="d-block gap-2">
                                    {{- range $collFacet := .CollectionFacets }}
                                        {{- if $collFacet.Checked }}
                                            <button
                                                    onclick="{{ if $collFacet.Checked }}this.removeAttribute('selected');{{ else }}this.setAttribute('selected', 'true');{{ end }}search('{{ $searchBase }}', '', {{ if $isExhibition }}true{{ else }}false{{ end }}, {{ if $useKI }}true{{ else }}false{{ end }})"
                                                    type="button"
                                                    class="btn btn-lg collectionButton"
                                                    value="{{ $collFacet.ID }}"
                                                    selected="{{ if $collFacet.Checked }}true{{ else }}false{{ end }}">
                                                <span>{{ abbrev 50 $collFacet.Name }}</span><i class="iconx" data-icon="close16"></i>
                                                {{- $ds := digits $collFacet.Count }}
                                            </button>
                                        {{- end }}
                                    {{- end }}
                                    {{- range $catFacet := .CatalogFacets }}
                                        {{- if $catFacet.Checked }}
                                            <button
                                                    onclick="{{ if $catFacet.Checked }}this.removeAttribute('selected');{{ else }}this.setAttribute('selected', 'true');{{ end }}search('{{ $searchBase }}', '', {{ if $isExhibition }}true{{ else }}false{{ end }}, {{ if $useKI }}true{{ else }}false{{ end }})"
                                                    type="button"
                                                    class="btn btn-lg catalogButton"
                                                    value="{{ $catFacet.ID }}"
                                                    selected="{{ if $catFacet.Checked }}true{{ else }}false{{ end }}">
                                                <span>{{ abbrev 50 $catFacet.Name }}</span><i class="iconx" data-icon="close16"></i>
                                                {{- $ds := digits $catFacet.Count }}
                                            </button>
                                        {{- end }}
                                    {{- end }}
                                    {{- range $mediaFacet := .MediaFacets }}
                                        {{- if $mediaFacet.Checked }}
                                            <button
                                                    onclick="{{ if $mediaFacet.Checked }}this.removeAttribute('selected');{{ else }}this.setAttribute('selected', 'true');{{ end }}search('{{ $searchBase }}', '', {{ if $isExhibition }}true{{ else }}false{{ end }}, {{ if $useKI }}true{{ else }}false{{ end }})"
                                                    type="button"
                                                    class="btn btn-lg mediaButton"
                                                    value="{{ $mediaFacet.ID }}"
                                                    selected="{{ if $mediaFacet.Checked }}true{{ else }}false{{ end }}">
                                                <span>{{ localize (abbrev 50 $mediaFacet.Name) $lang }}</span><i class="iconx" data-icon="close16"></i>
                                                {{- $ds := digits $mediaFacet.Count }}
                                            </button>
                                        {{- end }}
                                    {{- end }}
                                    {{- range $parent, $vocabFacets := .VocabularyFacets }}
                                        {{- range $vocabFacet := $vocabFacets }}
                                            {{- if $vocabFacet.Checked }}
                                                <button
                                        
                                                        onclick="{{ if $vocabFacet.Checked }}this.removeAttribute('selected');{{ else }}this.setAttribute('selected', 'true');{{ end }}search('{{ $searchBase }}', '', {{ if $isExhibition }}true{{ else }}false{{ end }}, {{ if $useKI }}true{{ else }}false{{ end }})"
                                                        type="button"
                                                        class="btn btn-lg btn-secondaryxx vocButton"
                                                        value="voc:{{ $parent }}:{{ $vocabFacet.Name }}" selected="{{ if $vocabFacet.Checked }}true{{ else }}false{{ end }}"
                                                >        
                                                    <span>{{ abbrev 32 (localize $vocabFacet.Name $lang) }}</span>
                                                    <i class="iconx" data-icon="close16"></i>
                                                </button>
                                            {{- end }}
                                        {{- end }}
                                    {{ end }}
                                </div>
                            </li>
                        </ul>
                    </div>

        <!-- display results -->
    </div>

    <!-- reuslt / view line -->
    
    <div class="container-fluid resultbar d-flex gap-4">
        <span>{{ if $useKI }}<img alt="KI search" class="ki" width=28 src="{{ $root }}static/img/ki2.png">&nbsp;{{ end }}
                {{ localize "founditems" $lang }}: {{ .TotalCount }}{{ if $useKI }}&nbsp;<i class="bi bi-stars"></i>{{ end }}</span>
        <div class="views d-none d-md-block">
           
            {{ localize "View as" $lang }}:
            <a class="page-linkd{{if eq $page "grid" }} active link{{ end }}" href="{{ $root }}grid/{{ $lang }}{{ if ne .Params "" }}?{{ .Params }}{{ end }}">Grid</a>
            <a class="page-linkd{{if eq $page "table" }} active link{{ end }}" href="{{ $root }}table/{{ $lang }}{{ if ne .Params "" }}?{{ .Params }}{{ end }}">List</a>
           
        </div>
    </div>
   
    <div class="container-fluid album flex-grow-1">
       
    {{- if eq $page "table" }}
       
                                    <table class="results-table table table-hover">
                                        <thead>
                                            <tr>
                                                <!--
                                                <th scope="col" style="min-width: 100px;">&nbsp</th>
                                                <th scope="col" style="white-space: nowrap;">
                                                    {{ localize "signature" $lang }}
                                                </th>
                                                -->
                                                <th scope="col" style="white-space: nowrap;">
                                                    {{ localize "titel" $lang }}
                                                </th>
                                                <th scope="col" style="white-space: nowrap;">
                                                    {{ localize "year" $lang }}
                                                </th>
                                                <th scope="col">
                                                    {{ localize "author" $lang }}
                                                </th>
                                                <th scope="col">
                                                    {{ localize "event" $lang }}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{- range $edge := .Edges }}
                                                {{- $query := printf "source=%s" $page }}
                                                {{- if ne $data.Cursor "" }}{{- $query = printf "%s&cursor=%s" $query $data.Cursor }}{{- end }}
                                                {{- if ne $params "" }}{{- $query = printf "%s&%s" $query $params }}{{- end }}
                                                {{- if $isExhibition }}{{- $query = printf "%s&exhibition" $query }}{{- end }}
                                                {{- if $useKI }}{{- $query = printf "%s&ki" $query }}{{- end }}
                                                {{- $query = trimPrefix "&" $query }}
                                                <tr onclick="window.location='{{ $detailAddr }}/detail/{{ $edge.Edge.Base.Signature }}/{{ $lang }}{{ if ne $query "" }}?{{ $query | toURL }}{{ end }}';">
                                                    <!--
                                                    <td>{{- if $edge.Edge.Base.Poster }}
                                                            {{- if $edge.Edge.Base.MediaVisible }}
                                                                <img src="{{ medialink $edge.Edge.Base.Poster.URI "resize" "size100x100/formatPNG/autorotate" (and ($edge.Edge.Base.MediaVisible) $edge.ProtectedContent) }}" class="img-fluid rounded" alt="">
                                                            {{- else  }}
                                                                <img alt="media access denied" src="{{ $root }}static/img/access_denied_dark.png" width=100 height=100 class="img-fluid rounded">
                                                            {{- end }}
                                                        {{- end }}
                                                    </td>
                                                    <td>{{ $edge.Edge.Base.Signature }}</td>
                                                    -->
                                                    <td class="title"><h2 class="bigtext mb-0">{{ $edge.Title.String }}</h2></td>
                                                    <td>{{ $edge.Date }}</td>
                                                    <td>
                                                        {{- range $role, $persons := $edge.PersonRole }}
                                                            {{- if has $role (list "artist" "director") }}
                                                                <div>
                                                                    {{ range $k, $name := $persons }}{{ if ne $k 0 }}; {{ end }}{{ $name }}{{ end }}
                                                                </div>
                                                            {{- end }}
                                                        {{- end }}
                                                    </td>
                                                    <td>
                                                        {{- range $e := $edge.Edge.Extra }}
                                                            {{- if has $e.Key (list "festival") }}
                                                                <div>
                                                                {{ $e.Value }}
                                                                </div>
                                                            {{- end }}
                                                        {{- end }}
                                                    </td>
                                                </tr>
                                            {{- end }}
                                        </tbody>
                                        </thead>
                                    </table>
       
    {{- end }}
    {{- if eq $page "list"}}
        <div class="results-grid ">
                                <div class="list-group">
                                    {{- range $edge := .Edges }}
                                        {{- $query := printf "source=%s" $page }}
                                        {{- if ne $data.Cursor "" }}{{- $query = printf "%s&cursor=%s" $query $data.Cursor }}{{- end }}
                                        {{- if ne $params "" }}{{- $query = printf "%s&%s" $query $params }}{{- end }}
                                        {{- if $isExhibition }}{{- $query = printf "%s&exhibition" $query }}{{- end }}
                                        {{- if $useKI }}{{- $query = printf "%s&ki" $query }}{{- end }}
                                        {{- $query = trimPrefix "&" $query }}
                                        <div class="card mb-3">
                                            <a class="nolink" href="{{ $detailAddr }}/detail/{{ $edge.Edge.Base.Signature }}/{{ $lang }}{{ if ne $query "" }}?{{ $query | toURL }}{{ end }}">
                                            <div class="row g-0">
                                                <div class="col-md-2">
                                                    {{- if $edge.Edge.Base.Poster }}
                                                        {{- if ($edge.Edge.Base.MediaVisible) }}
                                                    <img src="{{ medialink $edge.Edge.Base.Poster.URI "resize" "size160x160/formatPNG/autorotate" (and $edge.Edge.Base.MediaVisible $edge.ProtectedContent) }}" class="img-fluid rounded-start" alt="">
                                                        {{- end }}
                                                    {{- end }}
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="card-body">
                                                        <h5 class="card-title"><small class="">{{ $edge.Edge.Base.Signature }}</small><br/>{{$edge.Title.String}}{{ if ne $edge.Date "" }} ({{ $edge.Date }}){{ end }}</h5>
                                                        <p class="card-text">
                                                            <div class="p-0 m-0">
                                                            {{- range $role, $persons := $edge.PersonRole }}
                                                                {{- if has $role $roles }}
                                                                <div class="p-0 m-0" style="text-indent: 2em hanging;">
                                                                    <span class="fw-semibold">{{ localize $role $lang }}</span>: {{ range $k, $name := $persons }}{{ if ne $k 0 }}; {{ end }}{{ $name }}{{ end }}
                                                                </div>
                                                                {{- else }}
                                                                    <!-- span class="fw-semibold text-bg-success">{{ $role }}</span>: {{ range $k, $name := $persons }}{{ if ne $k 0 }}; {{ end }}{{ $name }}{{ end }} -->
                                                                {{- end }}
                                                            {{- end }}
                                                            </div>
                                                        </p>
                                                        <!--p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p-->
                                                    </div>
                                                </div>
                                            </div>
                                            </a>
                                        </div>
                                    {{- end }}
                                </div>
        </div>
    {{- end }}
    {{- if eq $page "grid"}}
        <div class="results-grid ">
            {{- range $edge := .Edges }}                                    
                <div class="inkcard">
                                        {{- $query := printf "source=%s" $page }}
                                        {{- if ne $data.Cursor "" }}{{- $query = printf "%s&cursor=%s" $query $data.Cursor }}{{- end }}
                                        {{- if ne $params "" }}{{- $query = printf "%s&%s" $query $params }}{{- end }}
                                        {{- if $isExhibition }}{{- $query = printf "%s&exhibition" $query }}{{- end }}
                                        {{- if $useKI }}{{- $query = printf "%s&ki" $query }}{{- end }}
                                        {{- $query = trimPrefix "&" $query }}
                                        <a href="{{ $detailAddr }}/detail/{{ $edge.Edge.Base.Signature }}/{{ $lang }}{{ if ne $query "" }}?{{ $query | toURL }}{{ end }}">
                                            <div>
                                                {{- $mediatype := "" }}
                                                {{- $set := false }}
                                                {{- $thumb := false }}
                                                {{- $mediaclass := "" }}
                                                {{- $mediastate := false }}
                                                {{- range $mc := $edge.Edge.Base.MediaCount }}
                                                    {{ if not $set }}
                                                        {{ $mediatype = $mc.Type }}
                                                        {{ $set = true }}
                                                    {{- else }}
                                                        {{ $set = true }}
                                                    {{- end }}
                                                {{- end }}
                                                {{- if ($edge.Edge.Base.MediaVisible) }}
                                                    {{ $mediastate = "" }}
                                                {{- else }}
                                                    {{ $mediastate = "locked" }}
                                                {{- end }}
                                                {{- if $edge.Edge.Base.Poster }}
                                                    {{ $thumb = medialink $edge.Edge.Base.Poster.URI "resize" "size400x400/formatPNG/autorotate" (and ($edge.Edge.Base.MediaVisible) $edge.ProtectedContent) }}
                                                {{- end }}
                                                {{- if not $thumb }}
                                                    {{ $mediaclass = "noimg" }}
                                                {{- end }}

                                                <div class="media {{ $mediatype }} {{ $mediastate }} {{ $mediaclass }}">
                                                    
                                                    <div class="{{ $mediatype }}">
                                                        {{- if $thumb }}
                                                        <img src="{{ $thumb }}" />
                                                        {{- end }}
                                                    </div>
                                                    <div class="title">{{$edge.Title.String}}</div>
                                                </div>
                                                <div class="info">
                                                    <div class="title">{{$edge.Title.String}}</div> 

                                                    {{- if ne $edge.Persons "" }}
                                                        <div class="author">
                                                            {{ $edge.Persons }}
                                                            {{ if ne $edge.Date "" }}({{ $edge.Date }}){{ end }}
                                                        </div>
                                                    {{ end }}

                                                    <div class="medias">
                                                    {{- range $mc := $edge.Edge.Base.MediaCount }}
                                                            <span>
                                                            {{- $found := false }}
                                                            {{ if eq $mc.Type "video" }}{{ $found = true }}<i class="iconx icon-24" data-icon="video"></i>{{ end }}
                                                            {{ if eq $mc.Type "audio" }}{{ $found = true }}<i class="iconx icon-24" data-icon="audio"></i>{{ end }}
                                                            {{ if eq $mc.Type "image" }}{{ $found = true }}<i class="iconx icon-24" data-icon="img"></i>{{ end }}
                                                            {{ if eq $mc.Type "pdf" }}{{ $found = true }}<i class="iconx icon-24" data-icon="doc"></i>{{ end }}
                                                            {{ if eq $mc.Type "default" }}{{ $found = true }}<i class="iconx icon-24" data-icon="audio"></i>{{ end }}
                                                            {{ if eq $mc.Type "webrecorder" }}{{ $found = true }}<i class="iconx icon-24" data-icon="link"></i>{{ end }}
                                                            {{ if eq $mc.Type "webrecorder" }}{{ $found = true }}<i class="iconx icon-24" data-icon="link"></i>{{ end }}
                                                            {{ if not $found }}{{ $mc.Type }}{{ end }}
                                                            {{ $mc.Count }}
                                                            </span>
                                                    {{- end }}
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                </div>
            {{- end }}
        </div>                       
    {{- end }}
                       
    </div>

    <!-- pagination -->
        <nav class="container-fluid d-flex justify-content-center pagination">
            <a 
                href="?{{ if ne $params "" }}{{ $params }}&{{ end }}{{ if $useKI }}ki&{{ end }}{{ if $isExhibition }}exhibition&{{ end }}cursor={{ toURL .PageInfo.StartCursor }}" 
                class="{{ if not .PageInfo.HasPreviousPage }}disabled {{ end }}btn btn-lg"
            >
                <i class="bi bi-arrow-left"></i>
            </a>
           
            <!--
            <span>{{ if $useKI }}<img alt="KI search" class="ki" width=28 src="{{ $root }}static/img/ki2.png">&nbsp;{{ end }}
                {{ localize "founditems" $lang }}: {{ .TotalCount }}{{ if $useKI }}&nbsp;<i class="bi bi-stars"></i>{{ end }}
            </span>
            -->
            <a 
                href="?{{ if ne $params "" }}{{ $params }}&{{ end }}{{ if $useKI }}ki&{{ end }}{{ if $isExhibition }}exhibition&{{ end }}cursor={{ toURL .PageInfo.EndCursor }}" 
                class="{{ if not .PageInfo.HasNextPage }}disabled {{ end }}btn btn-lg"
            >
                <i class="bi bi-arrow-right"></i>
            </a>
        </nav>
                    
               

    </div>
    </main>
    <!-- Filter Panel -->
    <div style="overflow: auto; width:500px;" id="facetBar"
         class="d-nonexx flex-column flex-shrink-0
					p-3 offcanvas offcanvas-end">
        <div class="offcanvas-header">
            <button type="button" class="btn-close btn-lg" data-bs-toggle="offcanvas" data-bs-target="#facetBar" aria-controls="facetBar" aria-label="Close"></button>
        </div>
        <ul class="mynav nav nav-pills flex-column mb-auto">
            <!-- collections -->
            {{ if gt (len .CollectionFacets) 0 }}
            <li class="nav-item mb-1">
                <details class="ds">
                    <summary class="summary textbig"><span class="icon"></span>{{ localize "Sammlung" $lang }}</summary>

                    <div class="tags cols collection">
                        {{ range $collFacet := .CollectionFacets }}
                            {{ if and (not $collFacet.Checked) (gt $collFacet.Count 0) }}
                                <button
                                        stylex="margin: 1px; padding: 1px 4px 1px 4px;"
                                        onclick="{{ if $collFacet.Checked }}this.removeAttribute('selected');{{ else }}this.setAttribute('selected', 'true');{{ end }}search('{{ $searchBase }}', '', {{ if $isExhibition }}true{{ else }}false{{ end }}, {{ if $useKI }}true{{ else }}false{{ end }})"
                                        type="button"
                                        class="btn collectionButton {{ if $collFacet.Checked }}on{{ end }}" value="{{ $collFacet.ID }}"
                                        selected="{{ if $collFacet.Checked }}true{{ else }}false{{ end }}"
                                >
                                    <div class="name">
                                        <span>{{ abbrev 50 $collFacet.Name }}</span>
                                        <i class="num"><b>{{ $collFacet.Count }}</b></i>
                                    </div>

                                </button>
                            {{ end }}
                        {{ end }}
                    </div>
                </details>
            </li>
            {{ end }}
            <!-- Thema -->
            {{ if gt (len .CatalogFacets) 0 }}
            <li class="nav-item mb-1">
                <details class="ds">
                    <summary class="summary textbig"><span class="icon"></span>{{ localize "Thema" $lang }}</summary>

                    <div class="tags cols collection">
                        {{ range $catFacet := .CatalogFacets }}
                            {{ if and (not $catFacet.Checked) (gt $catFacet.Count 0) }}
                                <button
                                        stylex="margin: 1px; padding: 1px 4px 1px 4px;"
                                        onclick="{{ if $catFacet.Checked }}this.removeAttribute('selected');{{ else }}this.setAttribute('selected', 'true');{{ end }}search('{{ $searchBase }}', '', {{ if $isExhibition }}true{{ else }}false{{ end }}, {{ if $useKI }}true{{ else }}false{{ end }})"
                                        type="button"
                                        class="btn catalogButton {{ if $catFacet.Checked }}on{{ end }}" value="{{ $catFacet.ID }}"
                                        selected="{{ if $catFacet.Checked }}true{{ else }}false{{ end }}"
                                >
                                    <div class="name">
                                        <span>{{ abbrev 50 $catFacet.Name }}</span>
                                        <i class="num"><b>{{ $catFacet.Count }}</b></i>
                                    </div>

                                </button>
                            {{ end }}
                        {{ end }}
                    </div>
                </details>
            </li>
            {{ end }}
            <!-- Media -->
            {{ if gt (len .MediaFacets) 0 }}
            <li class="nav-item mb-1">
                <details class="ds">
                    <summary class="summary textbig"><span class="icon"></span>{{ localize "Ressourcentyp" $lang }}</summary>

                    <div class="tags cols collection">
                        {{ range $mediaFacet := .MediaFacets }}
                            {{ if and (not $mediaFacet.Checked) (gt $mediaFacet.Count 0) }}
                                <button
                                        stylex="margin: 1px; padding: 1px 4px 1px 4px;"
                                        onclick="{{ if $mediaFacet.Checked }}this.removeAttribute('selected');{{ else }}this.setAttribute('selected', 'true');{{ end }}search('{{ $searchBase }}', '', {{ if $isExhibition }}true{{ else }}false{{ end }}, {{ if $useKI }}true{{ else }}false{{ end }})"
                                        type="button"
                                        class="btn mediaButton {{ if $mediaFacet.Checked }}on{{ end }}" value="{{ $mediaFacet.ID }}"
                                        selected="{{ if $mediaFacet.Checked }}true{{ else }}false{{ end }}"
                                >
                                    <div class="name">
                                        <span>{{ abbrev 50 $mediaFacet.Name }}</span>
                                        <i class="num"><b>{{ $mediaFacet.Count }}</b></i>
                                    </div>

                                </button>
                            {{ end }}
                        {{ end }}
                    </div>
                </details>
            </li>
            {{ end }}
            <!-- other filters -->

            

            {{ range $parent, $vocabFacets := .VocabularyFacets }}
                {{- $num := 0 }}
                {{ range $vocabFacet := $vocabFacets }}
                    {{ if not $vocabFacet.Checked }}
                         {{ $num = add $num 1 }}
                    {{ end }}
                {{ end }}
                {{ if gt $num 0 }}
                <li class="nav-item mb-1">
                    <details class="ds">
                        <summary class="summary textbig"><span class="icon"></span>{{ localize $parent $lang }} </summary>
                       

                       <div class="tags cols collection">
                        {{ range $vocabFacet := $vocabFacets }}
                            {{ if not $vocabFacet.Checked }}
                           

                            <button
                                
                                onclick="{{ if $vocabFacet.Checked }}this.removeAttribute('selected'){{ else }}this.setAttribute('selected', 'true'){{ end }};search('{{ $searchBase }}', '', {{ if $isExhibition }}true{{ else }}false{{ end }}, {{ if $useKI }}true{{ else }}false{{ end }})"
                                type="button"
                                class="btn vocButton {{ if $vocabFacet.Checked }}on{{ end }}"
                                value="voc:{{ $parent }}:{{ $vocabFacet.Name }}"
                                selected="{{ if $vocabFacet.Checked }}true{{ else }}false{{ end }}"
                            >
                                <div class="name">
                                    <span>{{ abbrev 32 (localize $vocabFacet.Name $lang) }} </span>
                                    <i class="num"><b>{{ $vocabFacet.Count }}</b></i>
                                </div>
                                 
                            </button>
                            {{ end }}
                        {{ end }}
                        </div>
                    </details>
                </li>
                {{ end }}
            {{ end }}
    </ul>
    </div>
</div>

{{ template "footer.gohtml" . }}


<script src="../../static/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="../../static/js/search.js"></script>
<script src="../../static/js/script.js"></script>

</body>
</html>

