<!doctype html>
{{- $lang := .Lang}}
{{- $root := .RootPath }}
{{- $source := .Source }}
{{- $showContent := $source.Base.MediaVisible }}
{{- $mediaserverBase := .MediaserverBase }}
{{- $extraIgnore := list "jahrgang" "remark" "performers" "camera" "sprache" "function" "references" }}
{{- $isExhibition := .Exhibition }}
{{- $isIFrame := .IFrame }}
{{- $searchSource := .SearchSource }}
{{- if (eq $searchSource "") }}{{- $searchSource = "grid" }}{{- end }}
{{- $searchAddr := .SearchAddr }}
{{- $searchBase := printf "%s/%s/%s?" .SearchAddr $searchSource .Lang }}
{{- $detailAddr := .DetailAddr }}
{{- if $isExhibition }}{{ $searchBase = printf "%sexhibition&" $searchBase }}{{ end }}
{{- $search := $searchBase }}
{{- if ne .Params "" }}{{ $search = printf "%s%s" $search .Params }}{{ end }}
<html lang="{{ $lang }}">
<head>
    {{ template "head.gohtml" . }}
    <link href="{{ .RootPath }}static/videojs/video-js.min.css" rel="stylesheet" />
    <link href="{{ .RootPath }}static/dflip/css/dflip.min.css" rel="stylesheet" type="text/css">
    <link href="{{ .RootPath }}static/dflip/css/themify-icons.min.css" rel="stylesheet" type="text/css">
    <style>
        [data-bs-theme=dark] img.qr {
            filter: invert(1);
        }

    </style>
    <!--
    <script type="importmap">
        {
          "imports": {
            "bootstrap": "{{ .RootPath }}static/bootstrap/js/bootstrap.bundle.min.js"
          }
        }
    </script>
    -->
</head>

<body class="w-100 bg">
{{ if not $isIFrame }}
{{ template "nav.gohtml" . }}


<main>
    <div class="ds logo">
        <a class="summary textbig" href="{{ $search }}"><span class="icon back"></span><h1>
        {{- $title1 := multiLang $source.Base.Title }}
        {{- $title := $title1.String }}
        {{- $parts := split $title ". " -}}
        {{ if ge (len $parts) 2 }}
            {{ index $parts 0 }}<br>
            <span>{{ index $parts 1 }}</span>
        {{ else }}
            {{ $title }}
        {{ end }}
        </h1></a>    
     </div>   
</main>
<div class="container-fluid">
    <!-- autor -->
    <div>
        
        {{- $firstPerson := true}}
            {{- range $key, $p := $source.Base.Person}}{{/*
            */}}{{- if hasPrefix "artist" $p.Role}}{{ if not $firstPerson }}; {{ end }}<a class="link" href="{{ printf "%s/%s/%s?search=author:\"%s\"" $searchAddr $searchSource $lang $p.Name }}">{{$p.Name}}</a>{{/* if $p.Year }} (*{{ $p.Year }}){{ end }}{{ range $key, $id := $p.Identifier }}{{ if eq $id.Name "viaf" }}<img src="{{ $root }}static/img/viaf.png" alt="VIAF" width="18">{{ end }}{{ end */}}{{/*
                */}}{{- $firstPerson = false }}{{/*
            */}}{{- end}}{{/*
        */}}{{- end}}
       
    </div>
    <!-- date -->
    {{ if $source.Base.Date }}
    <div>{{ if ne ( ptrString $source.Base.Date) "" }}{{ $source.Base.Date }}{{ end }}</div>
    {{ end }}
</div>

{{ end }}

<div class="container-fluidxx mt-2">    

                <!-- --------- media ---------- -->
               
                    {{- if $source.Media }}
                        {{- if $showContent }}

                        <!-- --------- media check --------- -->
                        {{- $defaultCount := 0 }}
                        {{- $epubCount := 0 }}
                        {{- $meiCount := 0 }}
                        {{- $meis := list }}
                        {{- $imageCount := 0 }}
                        {{- $images := list }}
                        {{- $videoCount := 0 }}
                        {{- $videos := list }}
                        {{- $audioCount := 0 }}
                        {{- $audios := list }}
                        {{- $pdfCount := 0 }}
                        {{- $pdfs := list }}
                        {{- $webrecorderCount := 0 }}
                        {{- $typeCount := 0 }}
                        {{- $mediaCount := 0 }}

                        {{- $first := true }}
                        {{- $active := "" }}

                        {{- range $typedMedia := $source.Media }}
                            
                            {{- if or (eq $typedMedia.GetType "default") (eq $typedMedia.GetType "mei") }}
                                {{- range $m := $typedMedia.GetItems }}
                                    {{- if and (contains "mei" (lower $m.URI)) (eq $m.Mimetype "application/xml") }}
                                        {{- $meiCount = add $meiCount 1}}
                                        {{- $meis = append $meis $m }}
                                    {{- end }}
                                {{- end }}
                            {{- end }}
                            {{- if eq $typedMedia.GetType "default" }}
                                {{- if eq $typedMedia.GetType "image" }}
                                    {{ range $id, $media := $typedMedia.GetItems }}
                                        {{ if eq $media.GetMimetype "application/epub+zip" }}
                                            {{ $epubCount = add $epubCount 1 }}
                                        {{ end }}
                                    {{ end }}
                                {{- end }}
                            {{- end }}
                            {{- if eq $typedMedia.GetType "video" }}
                                {{ $videoCount = len $typedMedia.GetItems}}
                                {{ $videos = $typedMedia.GetItems }}
                            {{- end }}
                            {{- if eq $typedMedia.GetType "image" }}
                                {{ $imageCount = len $typedMedia.GetItems}}
                                {{ $images = $typedMedia.GetItems }}
                            {{- end }}
                            {{- if eq $typedMedia.GetType "audio" }}
                                {{ $audioCount = len $typedMedia.GetItems}}
                                {{ $audios = $typedMedia.GetItems }}
                            {{- end }}
                            {{- if eq $typedMedia.GetType "pdf" }}
                                {{ $pdfCount = len $typedMedia.GetItems}}
                                {{ $pdfs = $typedMedia.GetItems }}
                            {{- end }}
                            {{- if eq $typedMedia.GetType "webrecorder" }}
                                {{ $webrecorderCount = len $typedMedia.GetItems}}
                            {{- end }}

                        {{- end }}
                        
                        
                        <!-- --------- new media all in one carousell --------- -->
                        
                        
                        <div class="imgcarousel">
                            <a id="imageTop"></a>
                            <div id="carouselDetailImage" class="carousel slide">
                                <div class="carousel-inner h-100">
                                    {{- $num := 0 }}
                                    {{- if gt $videoCount 0 }}
                                        {{ template "detail_video.gohtml" dict "Videos" $videos "Source" $source "Num" $num}}
                                        {{- $num = add $num $videoCount}}
                                    {{- end }}
                                    {{- if gt $imageCount 0 }}
                                        {{ template "detail_image.gohtml" dict "Images" $images "Source" $source "Num" $num }}
                                        {{- $num = add $num $imageCount}}
                                    {{- end }}
                                    {{- if gt $pdfCount 0 }}
                                        {{ template "detail_pdf_dflip.gohtml" dict "Pdfs" $pdfs "Source" $source "Num" $num }}
                                        {{- $num = add $num $pdfCount}}
                                    {{- end }}
                                    {{- if gt $audioCount 0 }}
                                        {{ template "detail_audio.gohtml" dict "Audios" $audios "Source" $source "Num" $num }}
                                        {{- $num = add $num $audioCount}}
                                    {{- end }}
                                    {{- if gt $meiCount 0 }}
                                        {{ template "detail_audio.gohtml" dict "Audios" $meis "Source" $source "Num" $num }}
                                        {{- $num = add $num $meiCount}}
                                    {{- end }}
                                </div>
                                {{- if gt $num 1 }}
                                <!-- carousel butons --> 
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselDetailImage" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselDetailImage" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                                {{- end }}

                            </div>
                            
                           

                            <!-- carousel thumbnail img nav --> 

                            {{- if gt $num 1 }}
                            {{- $num := 0 }}
                            <div id="carouselThumbnails" class="imgnav d-flex">
                                {{- if gt $videoCount 0 }}
                                    {{- range $key, $media := $videos }}
                                        
                                        {{- $size := calcAspectSize $media.Width $media.Height 600 480 }}

                                        <span id="thumb{{ $num }}" class="masked video {{ if eq $num 0 }} active{{ end }}" onclick="carouselTo({{ $num }});" >
                                            <img 
                                                
                                                class="bd-placeholder-img card-img-top" 
                                                src="{{ medialink (printf "%s%s%v" $media.URI "$$timeshot$$" 3) "resize" (printf "size%vx%v/formatPNG/autorotate" (div $size.Width 5) (div $size.Height 5)) (and $source.Base.MediaVisible $source.Base.MediaProtected) }}" 
                                            />
                                        </span>
                                        {{- $num = add $num 1}}
                                    {{- end }}
                                {{- end }}
                                {{- if gt $imageCount 0 }}
                                    {{- range $key, $media := $images }}
                                        <span id="thumb{{ $num }}" class="masked image {{ if eq $num 0 }} active{{ end }}" onclick="carouselTo({{ $num }});" >
                                            <img 
                                                class="bd-placeholder-img card-img-top" 
                                                src="{{ medialink $media.URI "resize" "size100x1000/formatPNG/autorotate" (and $source.Base.MediaVisible $source.Base.MediaProtected) }}" 
                                            />
                                        </span>
                                        {{- $num = add $num 1}}
                                    {{- end }}
                                {{- end }}
                                {{- if gt $pdfCount 0 }}
                                    {{- range $key, $media := $pdfs }}
                                        <span id="thumb{{ $num }}" class="masked pdf {{ if eq $num 0 }} active{{ end }}" onclick="carouselTo({{ $num }});" >
                                            <div></div>
                                        </span>
                                        {{- $num = add $num 1}}
                                    {{- end }}
                                {{- end }}
                                {{- if gt $audioCount 0 }}
                                    {{- range $key, $media := $audios }}
                                        <span id="thumb{{ $num }}" class="masked audio {{ if eq $num 0 }} active{{ end }}" onclick="carouselTo({{ $num }});" >
                                            <img 
                                                class="bd-placeholder-img card-img-top" 
                                                src="{{ medialink $media.URI "resize" "size100x1000/formatPNG/autorotate" (and $source.Base.MediaVisible $source.Base.MediaProtected) }}" 
                                            />
                                        </span>
                                        {{- $num = add $num 1}}
                                    {{- end }}
                                {{- end }}
                                {{- if gt $meiCount 0 }}
                                    {{- range $key, $media := $meis }}
                                        <span id="thumb{{ $num }}" class="masked audio {{ if eq $num 0 }} active{{ end }}" onclick="carouselTo({{ $num }});" >
                                            <img 
                                                class="bd-placeholder-img card-img-top" 
                                                src="{{ medialink $media.URI "resize" "size100x1000/formatPNG/autorotate" (and $source.Base.MediaVisible $source.Base.MediaProtected) }}" 
                                            />
                                        </span>
                                        {{- $num = add $num 1}}
                                    {{- end }}
                                {{- end }}
                            </div>
                            {{- end }}
                        </div>
                       
                        {{- else }}
                            <div class="lockedmedia">
                                <svg id="Ebene_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 50 50">
                                <defs>
                                    <style>
                                    .st0, .st1 {
                                        fill: none;
                                    }
                                    .st1 {
                                        stroke: #000;
                                        stroke-miterlimit: 10;
                                        stroke-width: 4px;
                                    }
                                    </style>
                                </defs>
                                <rect class="st0" width="50" height="50"/>
                                <path class="st1" d="M24.88,6.95"/>
                                <rect class="st1" x="11" y="22" width="28" height="20"/>
                                <path class="st1" d="M16,22v-4c0-4.97,4.03-9,9-9s9,4.03,9,9v4"/>
                                <line class="st1" x1="25" y1="28" x2="25" y2="36"/>
                                </svg>
                                <div class="msg">
                                    Höhere Mächte verbieten die Ansicht der Medien.<br />
                                    ({{- range $mc := $source.Base.MediaCount }}
                                        {{ $mc.Count }} {{ $mc.Type }} locked
                                    {{- end }})<br />
                                    Mehr über <a class="link">InK Berechtigungen</a>.</div>
                                
                            </div>
                        {{- end }}
                    {{- end }}
               
            {{/* --------- info ---------- */}}

            <div class="container-content">
                <div class="infogroup block">
                    
                    {{/* -- title -- */}}
                    {{- $title := multiLang $source.Base.Title }}
                    <div class="infoline">
                        <div class="summary">Titel</div>
                        <div class="detail">{{ $title.String }}</div>
                    </div>

                    {{/* -- date -- */}}

                    {{ if $source.Base.Date }}
                    <div class="infoline">
                        <div class="summary">Datum</div>
                        <div class="detail">{{ if ne ( ptrString $source.Base.Date) "" }}{{ $source.Base.Date }}{{ end }}</div>
                    </div>
                    {{ end }}

                    {{/* -- collection-- */}}
                    
                    {{ if ne (ptrString $source.Base.CollectionTitle) "" }}
                    <div class="infoline">
                        <div class="summary">Sammlung</div>
                        <div class="detail">{{ $source.Base.CollectionTitle }}</div>
                    </div>
                    {{ end }}

                    {{/* -- nr -- */}}
                    <div class="infoline">
                        <div class="summary">Inventarnummer</div>
                        <div class="detail">#{{ $source.Base.Signature }}</div>
                    </div>

                    

                    {{/* -- authors -- */}}

                    <div class="infoline">
                        <div class="summary">Autor/en</div>
                        <div class="detail">
                        
                        {{- $firstPerson := true}}
                        {{- range $key, $p := $source.Base.Person}}{{/*
                            */}}{{- if hasPrefix "artist" $p.Role}}{{ if not $firstPerson }}; {{ end }}<a class="link" href="{{ printf "%s/%s/%s?search=author:\"%s\"" $searchAddr $searchSource $lang $p.Name }}">{{$p.Name}}</a>{{/* if $p.Year }} (*{{ $p.Year }}){{ end }}{{ range $key, $id := $p.Identifier }}{{ if eq $id.Name "viaf" }}<img src="{{ $root }}static/img/viaf.png" alt="VIAF" width="18">{{ end }}{{ end */}}{{/*
                                */}}{{- $firstPerson = false }}{{/*
                                */}}{{- end}}{{/*
                            */}}{{- end}}
                       
                        {{- range $p := $source.Base.Person}}
                            {{- if not (hasPrefix "artist" $p.Role)}}
                                {{ if not $firstPerson }}<br />{{ $firstPerson = true }}{{ end }}
                                <a class="link" href="{{ printf "%s/%s/%s?search=author:\"%s\"" $searchAddr $searchSource $lang $p.Name }}">{{$p.Name}}</a> ({{camelcase (trimPrefix "performer:" $p.Role)}})<br />
                            {{- end}}
                        {{- end}}
                        </div>
                    </div>
                </div> 

                {{/* -- abstract -- */}}

                {{- $abstract := multiLang $source.Abstract }}
                {{- $abstractStr := $abstract.GetStr $lang }}
                {{- $abstractOriginalLang := $abstract.GetNativeLanguage  }}
                {{- if eq $abstractStr "" }}{{ $abstractStr = $abstract.String }}{{ end }}      

                {{- if ne $abstractStr "" }}

                <div class="infogroup line">    
                    <div class="infoline">
                        <div class="summary">Abstract</div>
                        <div class="detail html">
                          
                            {{ toHTML (nl2br $abstractStr) }}
                            {{- if and (ne $abstractOriginalLang.String $lang) (ne $abstractOriginalLang.String "und") }}
                                <div class="autotranslation">
                                    {{ localize "autotranslatefrom" $lang }} {{ localize (printf "%sen" $abstractOriginalLang.String) $lang }}
                                </div>
                            {{- end }}                        
                        </div>
                    </div>
                </div>

                {{- end }}

                <div class="infogroup line"> 

                    {{/* -- tags -- */}}
                           
                    {{ if $source.Base.Tags }}
                    <div class="infoline">
                        <div class="summary">Tags</div>
                        <div class="detail">
                                {{- $extraIgnore = append $extraIgnore "schlagwort"}}
                                {{- range $voc := $source.Base.Tags }}
                                    {{- $parts := vocTag $voc }}
                                    {{- if eq (len $parts) 2 }}
                                        {{ $base := index $parts 0 }}
                                        {{ $base = (localize $base $lang) }}
                                        {{ $tag := index $parts 1 }}
                                        {{ $tag = (localize $tag $lang) }}
                                        <a class="btn" href="{{ if or $isExhibition $isIFrame }}#{{ else }}{{ printf "%svocabulary=%s" $searchBase $voc }}{{ end }}" role="button">{{ localize $tag $lang }}</a>
                                    {{- else }}
                                        {{ if ne $voc "vwg:declare" }}<a class="btn" role="button" href="{{ if or $isExhibition $isIFrame }}#{{ else }}{{ printf "%svocabulary=%s" $searchBase $voc }}{{ end }}">{{ $voc }}</a>{{ end }}
                                    {{ end }}

                                {{- end }}
                        </div>
                    </div>
                    {{- end }}
                </div>    

                {{/* -- categories-- */}}

                {{- $hasCategories := gt (len $source.Base.Category) 0 }}
                {{- if $hasCategories }}

                <div class="infogroup line">     
                    <div class="infoline">
                        <div class="summary">Categories</div>
                        <div class="detail">
                            {{- range $cat := $source.Base.Category }}
                                
                                {{- $catParts := splitList "!!" $cat }}
                                
                                <ol class="breadcrumb">
                                    {{- $first := true }}
                                    {{- $catString := "" }}
                                    {{- range $key, $catPart := $catParts }}
                                        
                                        {{- if not $first }}
                                            {{- $catString = printf "%s!!%s" $catString $catPart }}
                                            <li class="breadcrumb-item"><a class="btn" href="{{ if or $isExhibition $isIFrame }}#{{ else }}{{ printf "%ssearch=category:\"%s\"" $searchBase $catString }}{{ end }}">{{ $catPart }}</a></li>
                                        {{- else }}
                                            {{- $catString = $catPart }}
                                            {{- $first = false }}
                                        {{- end }}
                                    {{- end }}
                                </ol>
                            {{- end }}
                        </div>
                    </div>                   
                </div>
                {{ end }}

                {{/* -- notes -- */}}

                {{- if gt (len $source.Notes) 0 }}
                <div class="infogroup line">
                    <div class="infoline">
                        <div class="summary">Notes</div>
                        <div class="detail">
                            {{range $note := $source.Notes}}
                                <div>{{ $note.Title }}</div>
                                <p class="opacity-50">{{ toHTMLif $note.Text }}</p> 
                            {{end}}
                        </div>
                    </div>
                </div>    
                {{- end }}

                <div class="infogroup line">

                    {{/* -- event -- */}}
                    
                    {{- $festival := map $source.Extra "festival" }}
                    {{- $extraIgnore = append $extraIgnore "festival"}}
                    {{ if ne $festival ""}}        
                    <div class="infoline">
                        <div class="summary">Events</div>
                        <div class="detail">
                             {{ if ne $festival ""}}<div>{{ $festival }}</div>{{ end }}
                            <p class="opacity-50">
                                {{ if ne (ptrString $source.Base.Place) "" }}{{ localize "place" $lang }}: {{ $source.Base.Place }}<br />{{ end }}
                                {{- $extraIgnore = append $extraIgnore "eventplace"}}
                                {{- $eventcurator := map $source.Extra "eventcurator" }}
                                {{- $extraIgnore = append $extraIgnore "eventcurator"}}
                                {{if ne $eventcurator ""}}KuratorIn: {{ $eventcurator }}<br />{{ end }}
                                {{- $doctype := map $source.Extra "doctype" }}
                                {{- $extraIgnore = append $extraIgnore "doctype"}}
                                {{if ne $doctype ""}}Dokumentationstyp: {{ $doctype }}<br />{{ end }}
                            </p>
                        </div>
                    </div>
                    {{- end }}

                    {{/* -- alternatives -- */}}

                    {{- $anderesformat := map $source.Extra "anderesformat" }}
                    {{- $extraIgnore = append $extraIgnore "anderesformat"}}

                    {{- if ne $anderesformat "" }}
                    <div class="infoline">
                        <div class="summary">Alternative</div>
                        <div class="detail">
                                {{ $anderesformat }}
                        </div>
                    </div>
                    {{- end }}
                </div>
                

                {{/* -- metadata -- */}}
                
                {{- $num := 0 }}
                {{- range $extra := $source.Extra }}
                    {{- if not (has $extra.Key $extraIgnore) }}
                        {{- $num = add $num 1 }}
                    {{- end }}
                {{- end }}
                {{- if gt $num 0 }}

                <div class="infogroup line">
                    <div class="infoline">
                        <div class="summary">Metadata</div>
                        <div class="detail">
                        <table>
                        {{- range $extra := $source.Extra }}
                            {{- if not (has $extra.Key $extraIgnore) }}
                            <tr>
                                <td>{{ $extra.Key }}</td>
                                <td>
                                    {{- if eq $extra.Key "ark" }}
                                        <span style="overflow-wrap: break-word;"><a href="https://n2t.net/{{ $extra.Value }}">{{ $extra.Value }}</a></span>
                                    {{ else if eq $extra.Key "handle" }}
                                        <span style="overflow-wrap: break-word;"><a href="https://hdl.handle.net/{{ $extra.Value }}">{{ $extra.Value }}</a></span>
                                    {{ else }}
                                        <span style="overflow-wrap: break-word;">{{ $extra.Value }}</span>
                                    {{ end }}
                                </td>
                            </tr>
                            {{- end }}
                        {{- end }}
                        </table>
                        </div>
                    </div>
                </div>    
                {{- end }}

                {{/* -- Medium -- */}}
                <!--
                {{- if (ne $source.Base.Source "zotero2-1624911")}}
                
                {{- $medium := map $source.Extra "medium" }}
                {{- $extraIgnore = append $extraIgnore "medium"}}
                {{- if ne $medium "" }}

                 <div class="infogroup line">
                        <div class="infoline">
                            <div class="summary">Medium</div>
                            <div class="detail">
                                {{ $medium }}<br />
                                {{- $dauer := map $source.Extra "dauer" }}
                                {{- $extraIgnore = append $extraIgnore "dauer"}}
                                {{- if ne $dauer "" }}
                                    Dauer: {{ $dauer }}<br />
                                {{- end }}
                            </div>
                        </div>
                         {{- end }}
                 </div> 
                {{- end }}
                -->
                
                {{/* -- Link/QRCode -- */}}
                <!--
                {{ if $source.Base.Signature }}
                    <div class="infogroup line">
                        <div class="infoline">
                            <div class="summary">Link</div>
                            <div class="detail">
                                <a href="{{ printf "%s/detail/%s/%s" $detailAddr $source.Base.Signature $lang }}"><img class="qr" src="{{ qrCode (printf "performance.sammlung.cc/detail/%s" $source.Base.Signature) }}" style="width: 100px; height: 100px; margin-top: 10px;" /></a>
                            </div>
                        </div>
                    </div>
                {{ end }}                
                -->
                {{/* -- references -- */}}

                {{- $references := $source.GetReferencesFull }}
                {{- if gt (len $references) 0 }}

                <div class="infogroup line">
                    <div class="infoline">
                        <div class="summary">Verwandte Einträge</div>
                        <div class="detail">
                            <table>
                            {{ range $ref := $references }}
                                <tr>
                                    <td style="vertical-align: top;" class="pe-2">
                                        {{ if and $ref.Poster (ne $ref.Poster.URI "") }}
                                            <a href="{{ printf "%s/detail/%s/%s" $detailAddr $ref.Signature $lang }}"><img src="{{ medialink $ref.Poster.URI "resize" "size100x100/formatJPEG/autorotate" true }}"  /></a>
                                        {{ end }}
                                    </td>
                                    <td>
                                {{- $title := multiLang $ref.Title }}
                                        <a href="{{ printf "%s/detail/%s/%s" $detailAddr $ref.Signature $lang }}"><span style="font-weight: bold;">{{ $title.String }}</span>
                                {{ if $ref.Date }}<span style="font-weight: normal;">{{ if ne ( ptrString $ref.Date) "" }}({{ $ref.Date }}){{ end }}</span>{{ end }}
                                        </a>
                                <br />
                                {{- range $key, $p := $ref.Person}}
                                    {{- if hasPrefix "artist" $p.Role}}
                                        {{- if gt $key 0}}; {{end}}<a class="link-underline link-underline-opacity-10" href="{{ printf "%s/%s/%s?search=author:\"%s\"" $searchAddr $searchSource $lang $p.Name }}">{{$p.Name}}</a>
                                    {{- end}}
                                {{- end}}<br />
                                {{- range $p := $ref.Person}}
                                    {{- if not (hasPrefix "artist" $p.Role)}}
                                        <a class="link-underline link-underline-opacity-10" href="{{ printf "%s/%s/%s?search=author:\"%s\"" $searchAddr $searchSource $lang $p.Name }}">{{$p.Name}}</a> ({{camelcase (trimPrefix "performer:" $p.Role)}})<br />
                                    {{- end}}
                                {{- end}}
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <hr /><br />
                                    </td>
                                </tr>
                            {{ end }}
                            </table>
                        </div>
                    </div>
                    {{ end }}

                </div>
            </div>
        <div>                  
    </div>         
</div>

<!-- ---------- script ---------- -->

{{ if not .IFrame}}
{{ template "footer.gohtml" . }}
{{ end }}
<script src="{{ .RootPath }}static/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="{{ .RootPath }}static/js/script.js"></script>
<script>
    window.HELP_IMPROVE_VIDEOJS = false;
</script>
<script src="{{ .RootPath }}static/videojs/video.min.js"></script>
<script>
    
    function isInViewport(el) {
        const rect = el.getBoundingClientRect();

        return (
            rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
            rect.right <= (window.innerWidth || document.documentElement.clientWidth)

        );
    }
    const carouselElement = document.getElementById('carouselDetailImage');
    const carousel = new bootstrap.Carousel('#carouselDetailImage', {
        touch: true
    });
    // focus carousel after page load
    window.addEventListener('load', () => {
        carouselElement.focus();
        setActiveThumb(0)
    });

    // when carousel slides manually/swipe/buttons
    carouselElement.addEventListener('slide.bs.carousel', function (event) {
        
        const top = document.getElementById('carouselDetailImage');
        if( !isInViewport(top) ) {
            top.scrollIntoView();
        }
        videoStopAll();
        setActiveThumb(event.to);
    });

    

    // update active thumbnail
    function setActiveThumb(index) {

        // remove all active states
        document.querySelectorAll('#carouselThumbnails .masked.active')
            .forEach(el => el.classList.remove('active'));

        // activate current thumb
        const current = document.querySelector('#thumb' + index);

        if (current) {
            current.classList.add('active');

            current.scrollIntoView({
                behavior: 'smooth',
                block: 'nearest',
                inline: 'center'
            });

        }
    }
    function carouselTo(index) {
        const top = document.getElementById('carouselDetailImage');
        if( !isInViewport(top) ) {
            top.scrollIntoView();
        }
        setActiveThumb(index);

        carousel.to(index);

    }
    document.addEventListener('keydown', function (event) {
        const tag = event.target.tagName.toLowerCase();

        // nicht stören, wenn User in Formularfeldern tippt
        if (
            tag === 'input' ||
            tag === 'textarea' ||
            event.target.isContentEditable
        ) {
            return;
        }
        if (event.key === 'ArrowLeft') {
            carousel.prev();
        }
        if (event.key === 'ArrowRight') {
            carousel.next();
        }
    }); 
    
    /* video stuff */
    document.querySelectorAll('video.video-js').forEach(videoEl => {
        const player = videojs(videoEl.id);
        
        player.on('play', function () {

            // scroll only if not already visible
            if (!isInViewport(videoEl)) {

                videoEl.scrollIntoView({
                    behavior: 'smooth',
                    block: 'start'
                });

            }
        });
    });
    function videoStopAll(){
        Object.values(videojs.players).forEach(player => {
            if (player && !player.isDisposed()) {
                fadeOutAndPause(player, 800);
                //player.pause();
                //player.currentTime(0);
            }
        });
    }
    function videoJumpToShot(id, shotNumber) {
        let player = videojs(id);
        let shotLength = player.duration()/25;
        player.play();
        player.currentTime(shotLength*shotNumber);
    }
    function fadeOutAndPause(player, duration = 1000) {

        const steps = 20;
        const interval = duration / steps;

        const startVolume = player.volume();
        let currentStep = 0;

        const fade = setInterval(() => {

            currentStep++;

            const newVolume =
                startVolume * (1 - currentStep / steps);

            player.volume(Math.max(newVolume, 0));

            if (currentStep >= steps) {

                clearInterval(fade);

                player.pause();
                player.currentTime(0);

                // restore volume for next play
                player.volume(startVolume);

            }

        }, interval);
    }



</script>

</body>
</html>
