<footer class="">
    <p class="text-center">
        <a href="https://forms.mediathek.hgk.fhnw.ch/formularubersicht.html"><i class="bi bi-file-earmark-plus"></i>{{ localize "newentry" .Lang }}</a> |
        <a href="{{ .SearchAddr }}/kontakt/{{ .Lang }}">{{ localize "kontakt" .Lang }}</a> |
        <a href="{{ .SearchAddr }}/impressum/{{ .Lang }}">{{ localize "impressum" .Lang }}</a>
    </p>
</footer>
