<footer class="">
    <p class="text-center">
        <a href="https://mediathek.hgk.fhnw.ch/apply/performance/"><i class="bi bi-file-earmark-plus"></i>{{ localize "newentry" .Lang }}</a> |
        <a href="https://mediathek.hgk.fhnw.ch/corrperformance/"><i class="bi bi-file-earmark-ruled"></i>{{ localize "correction" .Lang }}</a> |
        <a href="{{ .SearchAddr }}/kontakt/{{ .Lang }}">{{ localize "kontakt" .Lang }}</a> |
        <a href="{{ .SearchAddr }}/impressum/{{ .Lang }}">{{ localize "impressum" .Lang }}</a>
    </p>
</footer>
