<!doctype html>
{{- $lang := .Lang}}
{{- $root := .RootPath }}
<html lang="{{ $lang }}">
<head>
    {{ template "head.gohtml" . }}
    <style>
        .openseadragon-container {
        }
    </style>
</head>

<body class="w-100 dvh-100 d-flex flex-column">
<div class="modal fade" id="documentModal" tabindex="-1" aria-labelledby="documentLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-lg-down" >
        <div class="modal-content" style="height: 90vh;">
            <!--
            <div class="modal-header" data-bs-dismiss="modal">
                <nav class="maincolor navbar w-100">
                    <div class="container-fluid">
                        <img class="object-fit-scale csp-brand-image" style="max-width: 480px;" src="{{ $root }}static/img/title_{{ $lang }}_1024x117.png" alt="Title: {{ localize "title" $lang }}" />
                        <ul class="pagination">
                            <li class=" page-item"><button type="button" class="ms-4 btn-close" data-bs-dismiss="modal" aria-label="Close"></button></li>
                        </ul>

                    </div>
                </nav>
            </div>
            -->
            <div class="modal-body">
                <iframe style="width: 100%;height: 97%;" src=""></iframe>
            </div>
            <div class="modal-footer" data-bs-dismiss="modal">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

    {{ template "nav.gohtml" . }}

    <div id="collage" class="container-fluid row flex-grow-1 p-0">
    </div>

    {{ template "footer.gohtml" . }}

<script src="{{ .RootPath }}static/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="{{ .RootPath }}static/openseadragon/openseadragon.min.js" crossorigin="anonymous"></script>
<script type="text/javascript">

    function isTouchDevice() {
        return (('ontouchstart' in window) ||
            ((typeof navigator.maxTouchPoints !== 'undefined') && (navigator.maxTouchPoints > 0)) ||
            ((typeof navigator.msTouchPoints !== 'undefined') && (navigator.msMaxTouchPoints > 0)));
    }

    function doClick(event) {
        // The canvas-click event gives us a position in web coordinates.
        let webPoint = event.position;

        // Convert that to viewport coordinates, the lingua franca of OpenSeadragon coordinates.
        let viewportPoint = viewer.viewport.pointFromPixel(webPoint);

        // Convert from viewport coordinates to image coordinates.
        let imagePoint = viewer.viewport.viewportToImageCoordinates(viewportPoint);

        // Show the results.
        console.log(webPoint.toString(), viewportPoint.toString(), imagePoint.toString());

        let xhr = new XMLHttpRequest();
        let url = "{{ .RootPath }}zoom/signature/" + Math.round(imagePoint.x) + "/" + Math.round(imagePoint.y);
        xhr.open("GET", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                let json = JSON.parse(xhr.responseText);
                if (json == null) return;
                let signature = json;
                console.log("Signature: "+signature)
                if( signature === "" ) return
                documenttitle = signature
                documenturl = "{{ .RootPath }}detail/"+signature+"/{{ .Lang }}?iframe" {{ if .Exhibition }}+"&exhibition"{{ end }}
                documentModal.show();
            }
        }
        xhr.send(null);
    }

    let touchDevice = isTouchDevice()
    let documenturl = ""
    let documenttitle = ""

    let documentModal = new bootstrap.Modal(document.getElementById('documentModal'), null)
    let documentModalElem = document.getElementById('documentModal')
    //let modalTitle = document.getElementById('documentModal').querySelector('.modal-title')
    let modalBodyIFrame = document.getElementById('documentModal').querySelector('.modal-body iframe')
    documentModalElem.addEventListener('show.bs.modal', function (event) {
        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.

        //modalTitle.textContent = documenttitle
        modalBodyIFrame.src = documenturl
    });
    /*
    documentModalElem.onclick = function () {
        documentModalElem.style.display = "none";
    }
    */
    documentModalElem.addEventListener('hidden.bs.modal', function (event) {
        modalBodyIFrame.src = ""
    })
    var viewer = OpenSeadragon({
        id: "collage",
        showNavigator: true,
        prefixUrl: "{{ .RootPath | toJSStr }}static/openseadragon/images/",
        tileSources: "{{ .RootPath }}data/collage/collage.dzi",
        //defaultZoomLevel: 5,
    });
    let parent = document.getElementById('collage');
    let height = parent.offsetHeight;
    let width = parent.offsetWidth;
//    console.log("Size: "+width+"/"+height)
    let os = document.getElementsByClassName('openseadragon-container')[0];
    os.style.height = height+"px";
    os.style.width = width+"px";

    viewer.gestureSettingsMouse.clickToZoom = false;
    viewer.addHandler('open', function() {
        viewer.viewport.zoomTo(3, null, true);
    });

    viewer.addHandler('canvas-click', function(event) {
        if (!event.quick) return
        doClick(event)
    });

    addEventListener("resize", (event) => {
        let parent = document.getElementById('collage');
        let height = parent.offsetHeight;
        let width = parent.offsetWidth;
        let os = document.getElementsByClassName('openseadragon-container')[0];
        os.style.height = height+"px";
        os.style.width = width+"px";
    });
</script>
</body>
</html>
